.App-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content:center;
    column-gap: 10%;
    min-height: 100vh;
    min-width: 100vw;
    margin-top: 12%;

}